.text-input{
    background-color: rgb(150, 35, 5);
    margin-top: 10px;
    margin-bottom: 0;
    color: white;
}

ion-icon {
    // width: 50%;
    min-height:30px;
    max-height: 45px;
    min-width: 30px;
    max-width: 45px;
}


ion-button {
    --background: white;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 25%;
    margin-right: 20%;
    align-self: center;
    --border-width: 2px;
    --border-color: rgb(68, 13, 2);
    --border-style: solid;
    --color: rgb(68, 13, 2);

}

ion-toolbar {
    --background: url(../../assets/images/bg_img.jpg) no-repeat center/cover fixed;
    --min-height:50px;
    --max-height:80px;
}


.main-container{
    background-color: white;
    display:flex;
    align-content: space-around;
    flex-wrap: nowrap;
    justify-content: space-around;
}

.appTitle {
  font-weight: bolder;
  color:white;
  font-size: large;
  font-family: 'Courier New', Courier, monospace;
}
